/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');



.slide-container{
    width: 95%;
    padding: 40px 0;
 
}
.slide-content{
  margin: 0 40px;
  overflow: hidden;
  background-color:#9F0000;
  padding: 20px;
  border-radius: 30px;

}

.card{
  border-radius: 50px;
  background-color: rgb(255, 255, 255);
  width: 310px !important;
  border: 2px solid rgb(255, 255, 255);
  height: 415px;

}
.image-content,
.card-content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 14px;
  width: 310px;

}
.image-content{
  position: relative;
  row-gap: 5px;
  padding: 25px 0;
  width: 300px;
}
.overlay{
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width:300px;
  background-color: #ffffff;
  border-radius: 50px 50px 0 0px;
}


.card-image{
  position: relative;
  height: 250px;
  width: 300px;
  background: #FFF;
  background-color: rgb(255, 255, 255);
  border-radius:50px 50px 0 0;
  margin-top: -24px;
  margin-left: 1px;

}
.card-image .card-img{
  height: 250px;
  width: 304px;
  border-radius: 50px 50px 0 0;


}
.name{
  text-align: center;
  font-size: 20px;
  font-weight: 500;
  color: #333;
  margin-top: -0.3rem;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-weight: 700;

}
.description{
  font-size: 24px;
  color: #707070;
  text-align: center;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: #9F0000;
  font-weight: 700;
}


.swiper-navBtn{
  color: #ffffff;
  transition: color 0.3s ease;
}
.swiper-navBtn:hover{
  color: rgb(94, 94, 94);
}
.swiper-navBtn::before,
.swiper-navBtn::after{
  font-size: 35px;
}
.swiper-button-next{
  right: 0;
}
.swiper-button-prev{
  left: 0;
}
.swiper-pagination-bullet{
  background-color: #ffffff;
  opacity: 1;
}
.swiper-pagination-bullet-active{
  background-color: #333;
}


@media (max-width: 575.98px) {


  .slide-content{
    margin: 0 0px;
    overflow: hidden;
    background-color:#9F0000;
    padding: 20px;
    border-radius: 30px;
  
  }
  
  .card{
    border-radius: 50px;
    background-color: rgb(255, 255, 255);
    width: 200px !important;
    border: 2px solid rgb(255, 255, 255);
    height: 295px;
    margin-left: 10px;
  }
  .image-content,
  .card-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px 14px;
    width: 195px;
  
  
  }
  .image-content{
    position: relative;
    row-gap: 5px;
    padding: 25px 0;
    width: 195px;
  }
  .overlay{
    position: absolute;
    left: 0;
    top: 0;
    height: 200px;
    width:195px;
    background-color: #ffffff;
    border-radius: 50px 50px 0 0px;
  }
  
  
  .card-image{
    position: relative;
    height: 180px;
    width: 195px;
    background: #FFF;
    background-color: rgb(255, 255, 255);
    border-radius:50px 50px 0 0;
    margin-top: -24px;
    margin-left: 1px;
  
  }
  .card-image .card-img{
    height: 180px;
    width: 195px;
    border-radius: 50px 50px 0 0;
  
  
  }
  .name{
    text-align: center;
    font-size: 12px;
    font-weight: 500;
    color: #333;
    margin-top: -1rem;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 700;
  
  }
  .description{
    font-size: 16px;
    color: #707070;
    text-align: center;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #9F0000;
    font-weight: 700;
    align-items: baseline;
  }
  
  
  .swiper-navBtn{
    color: #ffffff;
    transition: color 0.3s ease;
  }
  .swiper-navBtn:hover{
    color: rgb(94, 94, 94);
  }
  .swiper-navBtn::before,
  .swiper-navBtn::after{
    font-size: 35px;
  }
  .swiper-button-next{
    right: 0;
  }
  .swiper-button-prev{
    left: 0;
  }
  .swiper-pagination-bullet{
    background-color: #ffffff;
    opacity: 1;
  }
  .swiper-pagination-bullet-active{
    background-color: #333;
  }
}



@media screen and (max-width: 768px) {
  .slide-content{
    margin: 0 10px;
  }
  .swiper-navBtn{
    display: none;
  }
  

}